/* CSS Document */

/* -- Logotipo de REDA -- */
.redagroup {
	font-family: 'harabarabold';
	color:#000000; 
	padding-left: 22px;
	position:absolute;
	display:inline-block;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	cursor: default;
	width:300px;
	pointer-events:none;
	top:-11px;
}

.reda, .redb { 
	display:inline-block; 
	position:relative;
}

.reda { 
	width: 61px;
	height: 129px;
	background: url(../../img/svg-jam/reda.svg) no-repeat;
}

.redb {
	width:174px; 
	bottom:20px;
	line-height:12px;
	padding-right:3px; 
	text-align:center; 
}
.redb hr{ margin:10px 0 4px 0; color: #000000; background-color: #000000;}

.redal0, .redal3 { letter-spacing:1px; }

.redal1{ font-size:14px; }

.redal2{ 
	font-size:4px; 
	top:-6px;
}

.redal3{ font-size:17px; }

.redal4 {
	font-family:"Lucida Console", Monaco, monospace; 
	font-size:9px; 
	line-height:0px; 
	letter-spacing:13px; 
	position:relative;
	height:11px; 
	display:block;
	top:-4px;
	vertical-align:top;
	padding-top:6px; 
}

.colap{ 
	background: url(../../img/svg-jam/colombiaprende.svg) no-repeat;
	background-position:right;
	width:280px;
	height:119px;
	position:relative;
	float:right;
	bottom:11px;
}
