body {
          font-family: Arial, Helvetica, sans-serif;
          font-size: 12px;
		  color: 243A5D;
          background: #ffffff;
          background-position: top left;
          background-attachment: fixed;
          background-repeat: no-repeat;
          text-align: left;
          padding: 10px;
          }

.style1 {
	color: #4a5966;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
}
.style2 {
	color: #4a5966;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
}
.style3 {color: #FAD563}
.style4 {
	color: #FFFFFF;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
}
a:link {
	color: #243A5D;
}
a:visited {
	color: #666666;
}
a:hover {
	color: #FF6600;
}
a:active {
	color: #CC0000;
}
.style5 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 20px;
    color: 243A5D; 
   }   
.style6 {
	color: #4a5966;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
}



          
         