@CHARSET "UTF-8";
.ListMap{
	
	width:700px; 
	background-color: rgba(230, 230, 230, 0.5); 
	border-radius: 0px -7px 7px -7px #333;
	-moz-box-shadow: 0px -7px 7px -7px #333;
	-webkit-box-shadow: 0px -7px 7px -7px #333;
}
table{
	width:100%;
}
th{
	
	color: rgb(225, 112, 9);
	text-align: left;
	
}
.moreInfo{
	cursor: pointer;
	color: #666;
	font-size: 12px;
}


.modal {
	display: none;
	position: fixed;
	top: 50%;
	left: 50%;
	z-index: 1050;
	overflow: auto;
	width: 660px;
	margin: -250px 0 0 -280px;
	background-color: white;
	border: 1px solid #999;
	border: 1px solid rgba(0, 0, 0, 0.3);
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	-webkit-box-shadow: 0 3px 7px rgba(0,0,0,0.3);
	-moz-box-shadow: 0 3px 7px rgba(0,0,0,0.3);
	box-shadow: 0 3px 7px rgba(0,0,0,0.3);
	-webkit-background-clip: padding-box;
	-moz-background-clip: padding-box;
	background-clip: padding-box;
}

 .modal-header {
	padding: 9px 15px;
	border-bottom: 1px solid #EEE;
	color: rgb(225, 112, 9);
}


.modal-body {
	padding: 15px;
}
.modal-footer {
	padding: 14px 15px 15px;
	margin-bottom: 0;
	background-color: whiteSmoke;
	border-top: 1px solid #DDD;
	-webkit-border-radius: 0 0 6px 6px;
	-moz-border-radius: 0 0 6px 6px;
	border-radius: 0 0 6px 6px;
	-webkit-box-shadow: inset 0 1px 0 #ffffff;
	-moz-box-shadow: inset 0 1px 0 #ffffff;
	box-shadow: inset 0 1px 0 #ffffff;
}

.contentPopup{
	width: 700px;
	height: 280px;
	overflow: scroll;
}


 #cboxClose{

	float: right; 
	 background:url(../images/controls.png) no-repeat -25px 0; 
	 width:25px; 
	 height:25px; 
	 text-indent:-9999px;
 }
 #cboxClose:hover{
 	background-position:-25px -25px;
 }