html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
}


.container-windows{
	text-align:center; 
	
}    

 table {
    text-align:center; 
    margin-left:auto; 
    margin-right:auto; 
   
  }
  tr,td {text-align:left;}

.header-ppal{
	background: url("../resources/img/layout/logo.jpg") no-repeat scroll 0 0 transparent;
	background-color: rgba(230, 241, 255, 0.7);
	text-align: center;
    border-radius: 0px -7px 7px -7px #333;
    -moz-box-shadow: 0px -7px 7px -7px #333;
	-webkit-box-shadow: 0px -7px 7px -7px #333;
	box-shadow: 0px -7px 7px -7px #333;
	height: 100px;
	width: 932px;
	padding:20px;
	-o-border-radius: 10px 10px 2px 2px;
	-moz-border-radius: 10px 10px 2px 2px;
	-webkit-border-radius: 10px 10px 2px 2px;
	border-radius: 10px 10px 2px 2px;
	margin-top: 25px;
}


.footer_bottom{
	width:900px;
	   border-radius: 10px 10px 2px 2px;
	   height: 180px;
	   margin-top: 25px;
	   padding: 20px;
	   text-align: center;
}

.footer_bottom .imgBack{
	width: 900;
	margin: 0 auto;
	height: auto;
}


.loadingDiv
{
	background: none repeat scroll 0 0 rgba(51, 51, 51, 0.2);
    border-radius: 8px;
    color: #FFFFFF;
    height: 100px;
    width: 100px;
    left: 50%;
    margin-left: -50px;
    position: absolute;
    top: 190px;
    z-index: 1;
}



.contentMain{
	padding-left:20px;
    float:left;
	width:500px;
	height:auto;
}



#header {
	margin: 0 auto;
	width:980px;
	height:190px;
	z-index:3;
	
}
.menu {
	margin-top:190px;
	float:left;
	width:130px;
	height:477px;
	z-index:2;
}
#menu {
	float:left;
	width:130px;
	height:477px;
	z-index:2;
}
#main {
	float:left;
	left:186px;
	top:200px;
	width:1100px;
	height:600px;
	z-index:1;
	overflow:hidden;
}
#footer {

	left:10px;
	top:704px;
	width:100%;
	height:72px;
	z-index:4;
	
}

.clear{
	clear:both;
}

#title_section {
	
	font-size:21px; 
	color:##1F4D64; 
	
}


#all {
	
	border-radius: 3px 3px 3px 3px;
   height: auto;
   left: 50%;
   margin-left: -640px;
   padding: 7px;
   position: absolute;
   text-align: center;
   top: 7px;
   width: 971px;
   z-index: 1;
}

