#contenedorResultados {
	float: left;
	padding: 0 10px;
	width: 590px;
	margin-left: auto;
	margin-right: auto;
	border-radius: 3px;
	background-color: rgba(255, 255, 255, 0.1);
	height: 740px;
}

#conenedorResultados div {
	padding: 5px;
}

#conenedorResultados div label {
	text-shadow: 2px 2px 3px #000;
}

.infoData {
	border-bottom: 1px solid #BFC7CA;
	color: #666666;
	font-size: 13px;
	padding-bottom: 7px;
}

.infoData a {
	text-decoration: none;
	color: rgb(102, 102, 102);
	font-size: 12px;
	cursor: pointer;
}

.infoData strong {
	text-decoration: none;
	color: rgb(102, 102, 102);
	font-size: 14px;
}

.infoData .bottomInfo {
	text-decoration: none;
	color: rgb(102, 102, 102);
	font-size: 12px;
}

/* ADMIN */

.adminSetElementIcon{	
	display:none; 
	float:right; 
}
.icon{
    display: inline-block;
    float: right;
    height: 16px;
    opacity: 0.5;
    overflow: hidden;
    text-indent: -9999px;
    width: 16px;
    margin-right: 5px;
  }
.adminSetElementIcon .icon{
 	background: url("../../../resources/Images/layout/AppSprites.png") no-repeat scroll 1px 0 transparent;
  }
   
.adminSetElementIcon .icon:hover{
    opacity: 0.8;
  }
   
.resulSetElement:hover .adminSetElementIcon { display:inline-block; }

.adminAdminElement{
	display:none;
	width:100%;
}

.adminAdminElementContent{
	background-color:rgba(204, 204, 204, 0.5);
	width:30%;
	height: 16px;
	padding: 5px;
	padding-right: 10px;
	margin-right: 5px;
	float: left;
	border-radius:1px 0px 20px 1px;
}


.mostRight{
	margin-right: 8px !important;	
}
.adminAdminElementContent .adminActions{
	float:left;
	margin-left: 2px;
	margin-right: 15px;
	cursor:pointer;
}



.adminAdminElementContent .adminActions .delete{ float: left; background: url("../../../resources/Images/layout/AppSprites.png") no-repeat scroll -17px 0 transparent;}
.adminAdminElementContent .adminActions .certify{ float: left; background: url("../../../resources/Images/layout/AppSprites.png") no-repeat scroll -36px 0px transparent;}
.overDelete:hover .delete{ background-position: -17px -16px; }
.overCertify:hover .certify{ background-position: -36px -16px; }



/*Animations*/
@-moz-keyframes resizeDelete {
    0% {
}
25% {
    color: #666666;
    border-radius: 2px;
    background-color:rgba(222, 31, 0, 0.1)
}
50% {
    color: #666666;
    border-radius: 2px;
    background-color:rgba(222, 31, 0, 0.2);		
}
75% {
    color: #666666;
    border-radius: 2px;
    background-color:rgba(222, 31, 0, 0.4);
}
100% {
    color: #666666;
    border-radius: 2px;
    background-color:rgba(222, 31, 31, 0.6);
}
}
@-webkit-keyframes resizeDelete {
    0% {
}
25% {
    color: #666666;
    border-radius: 2px;
    background-color:rgba(222, 31, 0, 0.1)
}
50% {
    color: #666666;
    border-radius: 2px;
    background-color:rgba(222, 31, 0, 0.2);		
}
75% {
    color: #666666;
    border-radius: 2px;
    background-color:rgba(222, 31, 0, 0.4);
}
100% {
    color: #666666;
    border-radius: 2px;
    background-color:rgba(222, 31, 31, 0.6);
}
}
@-o-keyframes resizeDelete {
    0% {
}
25% {
    color: #666666;
    border-radius: 2px;
    background-color:rgba(222, 31, 0, 0.1)
}
50% {
    color: #666666;
    border-radius: 2px;
    background-color:rgba(222, 31, 0, 0.2);		
}
75% {
    color: #666666;
    border-radius: 2px;
    background-color:rgba(222, 31, 0, 0.4);
}
100% {
    color: #666666;
    border-radius: 2px;
    background-color:rgba(222, 31, 31, 0.6);
}
}
@keyframes resizeDelete {
    0% {
}
25% {
    color: #666666;
    border-radius: 2px;
    background-color:rgba(222, 31, 0, 0.1)
}
50% {
    color: #666666;
    border-radius: 2px;
    background-color:rgba(222, 31, 0, 0.2);		
}
75% {
    color: #666666;
    border-radius: 2px;
    background-color:rgba(222, 31, 0, 0.4);
}
100% {
    color: #666666;
    border-radius: 2px;
    background-color:rgba(222, 31, 31, 0.6);
}
}

.boxDelete {
    -moz-animation-name: resizeDelete;
    -moz-animation-duration: 1.1s;
    -moz-animation-iteration-count: 2;
    -moz-animation-direction: alternate;
    -moz-animation-timing-function: ease-in-out;

    -webkit-animation-name: resizeDelete;
    -webkit-animation-duration: 1.1s;
    -webkit-animation-iteration-count: 2;
    -webkit-animation-direction: alternate;
    -webkit-animation-timing-function: ease-in-out;

    -o-animation-name: resizeDelete;
    -o-animation-duration: 1.1s;
    -o-animation-iteration-count: 2;
    -o-animation-direction: alternate;
    -o-animation-timing-function: ease-in-out;

    animation-name: resizeDelete;
    animation-duration: 1.1s;
    animation-iteration-count: 2;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
}



@-moz-keyframes resizeCertify {
    0% {
}
25% {
    color: #666666;
    border-radius: 2px;
    background-color:rgba(12, 176, 34, 0.1)
}
50% {
    color: #666666;
    border-radius: 2px;
    background-color:rgba(12, 176, 34, 0.2);		
}
75% {
    color: #666666;
    border-radius: 2px;
    background-color:rgba(12, 176, 34, 0.4);
}
100% {
    color: #666666;
    border-radius: 2px;
    background-color:rgba(12, 176, 34, 0.6);
}
}
@-webkit-keyframes resizeCertify {
    0% {
}
25% {
    color: #666666;
    border-radius: 2px;
    background-color:rgba(12, 176, 34, 0.1)
}
50% {
    color: #666666;
    border-radius: 2px;
    background-color:rgba(12, 176, 34, 0.2);		
}
75% {
    color: #666666;
    border-radius: 2px;
    background-color:rgba(12, 176, 34, 0.4);
}
100% {
    color: #666666;
    border-radius: 2px;
    background-color:rgba(12, 176, 34, 0.6);
}
}
@-o-keyframes resizeCertify {
    0% {
}
25% {
    color: #666666;
    border-radius: 2px;
    background-color:rgba(12, 176, 34, 0.1)
}
50% {
    color: #666666;
    border-radius: 2px;
    background-color:rgba(12, 176, 34, 0.2);		
}
75% {
    color: #666666;
    border-radius: 2px;
    background-color:rgba(12, 176, 34, 0.4);
}
100% {
    color: #666666;
    border-radius: 2px;
    background-color:rgba(12, 176, 34, 0.6);
}
}
@keyframes resizeCertify {
    0% {
}
25% {
    color: #666666;
    border-radius: 2px;
    background-color:rgba(12, 176, 34, 0.1)
}
50% {
    color: #666666;
    border-radius: 2px;
    background-color:rgba(12, 176, 34, 0.2);		
}
75% {
    color: #666666;
    border-radius: 2px;
    background-color:rgba(12, 176, 34, 0.4);
}
100% {
    color: #666666;
    border-radius: 2px;
    background-color:rgba(12, 176, 34, 0.6);
}
}

.boxCertify {
	

    -moz-animation-name: resizeCertify;
    -moz-animation-duration: 1.1s;
    -moz-animation-iteration-count: 2;
    -moz-animation-direction: alternate;
    -moz-animation-timing-function: ease-in-out;

    -webkit-animation-name: resizeCertify;
    -webkit-animation-duration: 1.1s;
    -webkit-animation-iteration-count: 2;
    -webkit-animation-direction: alternate;
    -webkit-animation-timing-function: ease-in-out;

    -o-animation-name: resizeCertify;
    -o-animation-duration: 1.1s;
    -o-animation-iteration-count: 2;
    -o-animation-direction: alternate;
    -o-animation-timing-function: ease-in-out;

    animation-name: resizeCertify;
    animation-duration: 1.1s;
    animation-iteration-count: 2;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
}	
   
   