
(: let $search-string := concat('$scope', '[. &amp;= "', $q, '"]') :)
                    
                    (: let $r := collection("/db/bdcol")//oai_dc:dc[ft:query(dc:title,"programacion")] :)
                   (: return (
                         (: util:eval($search-string) :)
                         
                           collection('/db/bdcol')//oai_dc:dc[(ft:query(.,$q))]
                         
                       (: collection('/db/bdcol')//oai_dc:dc[ft:query(., 
                                              <query>
                                                <bool>
                                                  <term occur="must">java</term>
                                                </bool>
                                              </query>)] 
                                              :)
                                              
                          
                                              
                                              
                                              
                                              
                        
                    ):)