@media screen {
  
    
    p, ul, ol {
        font-size: 13px;
        margin-left: 15px;
        margin-right: 15px;
    }
}

table {
    font-size: 13px;
    }

table p {
    margin: 0px;
}

a:hover {
    border-bottom: solid 1px gray;
}

a, a:visited {
    color: #0000AA;
    font-weight: bold;
    text-decoration: none;
}

#notes {
    border-top: solid 1px #DEDEDE;
}

#page-head {
    margin-bottom: 5px;
}

#page-head #navbar {
    margin: 1em 0 0 0;
    height: 2.2em;
    border-top: 1px solid #DEDEDE;
    border-bottom: 1px solid #DEDEDE;
}

#page-head h1 {
    float: left;
    color: #0A0AA0;
    background-color: #FFF;
    border: 0;
    font-size: 1.5em;
    font-weight: normal;
    margin: 0 0 0 0;
    padding: 0;
}

#page-head #menu {
    margin: 0.3em 0 0 0;
    padding: 0;
    float: right;
}

#menu li {
    list-style: none; 
    float: left;
    margin: 0;
    white-space: nowrap;
    padding: 0px 20px 0px 20px;
}

#menu li a {
    color: #666666;
}

@media print {
    #page-head {
        display: none;
    }
}

#footer {
    padding: 10px;
}

#sidebar {
    position: absolute;
    width: 16%;
	top: 50px;
    display: block;
    overflow: hidden;
}

@media screen {
    #content2col {
        position: absolute;
        left: 18%;
        width: 80%;
	top: 50px;
        display: block;
        background-color: white;
        overflow: visible;
    }
    
    #content {
        position: absolute;
        left: 18%;
        width: 62%;
	top: 215px;
        display: block;
        background-color: white;
        overflow: visible;
    }
}

#news {
    position: absolute;
    width: 18%;
    left: 82%;
	top: 215px;
    display: block;
    overflow: hidden;
}

@media print {
    #news {
        display: none;
    }
    #sidebar {
        display: none;
    }
}
   
#version-info {
    color: #666666;
    text-align: right;
    margin: 3px 0 0 0;
    padding: 0;
    font-size: 8pt;
  }
  
.toc {
	margin-top: 10px;
	margin-bottom: 5px;
	font-size: 80%;
	padding-left: 40px;
	padding-bottom: 5px;
}

.tocitem2 {
	padding-left: 15px;
}

h1 { 
    font-size: 160%;
    font-weight: normal;
    color: white;
    background-color: #0990EE;
    border: 1px solid #999;
    margin-left: 0px;
    margin-bottom: 15px;
    margin-top: 0px;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
}

h2 { 
    font-size: 160%;
    font-weight: normal;
    color: #666666;
    margin-left: 0px;
    margin-top: 25px;
    margin-bottom: 5px;
    margin-right: 20px;
    text-align: left;
    border-bottom: 1px solid ;
}

h3 {
    font-family:Arial; 
    font-size: 12pt;
    font-weight: bold;
    color: #666666;
    font-style: normal;
    text-align: left;
    padding-left: 15px;
    margin-right: 20px;
}

h4 {
    font-weight: bold;
    padding-left: 15px;
}
			
.note {
}

input.mark {
    float: left;
    margin-left: -30px;
}

input.search {
    margin-left: 40px;
    padding: 10px;
    background-color: transparent;
    font-size: 10px;
    font-weight: bold;
}

input.view{
    margin-left: 40px;
    margin-top: 10px;
    font-size: 9px;
}

input.search-button{
    margin-left: 20px;
    font-size: 9px;
    width: 70px;
}

select.choose {
    font-size: 9px;
    margin-left: 10px;
    margin-top: 10px;
    background-color: #E1DD68;
}

.banner {
    text-align: center;
    margin-top: 20px;
}

.block {

	padding: 0;
	background: #fff;
	border: 1px solid #769CFF; 
}

.block h3 {
        font-family:Arial;
	background: #769CFF;
	color: white;
	margin: 0px 0px 0px 0px;
	padding: 0px;
	border-bottom: 1px solid #769CFF;
        font-size: 12px;
        font-weight: bold;
        font-style: normal;
        text-align: center;
}

.block ul {
    margin: 0;
    padding: 0;
}

.block li {

    list-style-type: none;
}


.block .date {
    text-align: right;
    font-size: 9.5pt;
    font-style: normal;
    border-bottom: 1px solid #999;
}

.block .headline {
    margin-bottom: 10px;
}

.block a {
	display: block;
    padding: 0 10px 3px 10px;
    font-size: small;
    color: #666;
    font-weight: normal;
	text-decoration: none;
}

.block a:hover   {
    background-color: #ddd;
    border-bottom: none;
}

.block a:visited {
	color: #666;
	font-weight: normal;
}

#sidebar input.search-sidebar {
    margin-left: 10px;
    width: 120px;
}

#sidebar input.search-button {
    margin-top: 5px;
    margin-bottom: 15px;
}

.xmlsrc {
    margin-top: 20px;
    margin-bottom: 20px;
    padding-right: 10px;
    text-align: right;
}

.filename {
    font-family: Courier, monospace;
    font-size: 120%;
}

.option {
    font-family: Courier, monospace;
}

.classname {
    text-decoration: underline;
}

.methodname {
    text-decoration: underline;
}

.command {
    font-weight: bold;
}

.variablelist {
    margin-left: 15px;
}

div.screen {
    font-family: Courier, monospace;
}

div.synopsis {
    margin: 15px;
    padding-left: 5px;
    font-family: Courier, monospace;
    text-align: left;
    background: #ddd;
}

.note_title {
    font-decoration: underline;
    font-weight: bold;
}

div.note {
    margin-top: 10px;
    margin-bottom: 10px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    border: 1px solid #203cd8;
}

.important_title {
    font-decoration: underline;
    font-color: red;
    font-weight: bold;
}

div.important {
    margin-top: 10px;
    margin-bottom: 10px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    border: 1px solid red;
}

.example {
    margin-top: 15px;
    margin-bottom: 15px;
    padding-left: 10px;
    padding-right: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: left;
    background: #fafafa;
    border: 1px solid #999;
}

div.example_title {
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 5px;
    text-decoration: underline;
}

.figure {
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 25px;
    margin-right: 25px;
    padding-left: 15px;
    alignment: center;
}

.figtitle {
    font-size: 14px;
    font-weight: bold;
    text-decoration: underline;
}

.variablelist {
    margin-left: 15px;
    margin-right: 15px;
}
