@import url(default-style#containerLogin .css);
/*
@media screen {
    body {
		background-color:#containerLogin #F1F1F1;
		color:#containerLogin #333333;
		font-family:Verdana,Geneva,Arial,helvetica,sans-serif;
		font-size:12px;
		line-height:18px;
		margin:10px;
	}
    
    p, ul, ol {
    	position: relative;
        font-size: 13px;
        margin-left: 15px;
        margin-right: 15px;
    }
    
    #containerLogin #sidebar {
        width: 24%;
        left: 74%;
        min-height: 600px;
    }
    
    #containerLogin #content2col {
        left: 3%;
        width: 68%;
        min-height: 600px;
    }
}
*/



.header-ppal{
	
	background: url("../../resources/Images/layout/logo.jpg") no-repeat scroll 0 0 transparent;	
	background-color: rgba(230, 241, 255, 0.7);
	text-align: center;
    border-radius: 0px -7px 7px -7px #333;
    -moz-box-shadow: 0px -7px 7px -7px #333;
	-webkit-box-shadow: 0px -7px 7px -7px #333;
	box-shadow: 0px -7px 7px -7px #333;
	height: 100px;
	width: 932px;
	padding:20px;
	-o-border-radius: 10px 10px 2px 2px;
	-moz-border-radius: 10px 10px 2px 2px;
	-webkit-border-radius: 10px 10px 2px 2px;
	border-radius: 10px 10px 2px 2px;
	margin: 0 auto;	
	margin-top: 30px;
	
	
}
.windows-content{
	margin-top: 150px;
}
#containerLogin #sidebar form li {
    display: block;
}

#containerLogin #sidebar form a {
    display: inline;
}

#containerLogin #sidebar fieldset {
    margin: 8px 0 0 0;
    border: none;
    padding: 0;
}

#containerLogin #sidebar label {
    font-size: 8pt;
}

#containerLogin #sidebar #containerLogin .button {
    border: solid 1px #containerLogin #f66;
    font-size: 8pt;
    cursor: pointer;
}




#containerLogin #navegacion {
    background: #containerLogin #769CFF;
    border: 1px solid #containerLogin #769CFF;
    
}

#containerLogin #navegacion h3 {
    padding: 0;
    margin: 0;
    color: white;
    font-size: 12px;
    font-weight: bold;
    background-color: #containerLogin #769CFF;
    border-bottom: 1px solid #containerLogin #769CFF;
    text-align: center;
}

#containerLogin #navegacion ul {
}

#containerLogin #navegacion li {
    font-size: 8pt;
    display: inline;
    list-style: none;
    padding: 0 15px 0 15px;
    border-right: 1px solid #containerLogin #999;
}

#containerLogin #navegacion label {
    padding: 0 5px;
    font-weight: bolder;
}

#containerLogin #navegacion input {
    border: solid 1px #containerLogin #f66;
    font-size: 8pt;
    cursor: pointer;
}

#containerLogin #link-next, #containerLogin #link-prev {
    display: block;
    font-size: 8pt;
}

#containerLogin #link-next {
    float: right;
}

#containerLogin #link-prev {
    float: left;
}

#containerLogin #navegacion select {
    font-size: 8pt;
}

#containerLogin .userinfo {
    display: block;
    font-size: small;
    text-align: right;
    margin-top: 40px;
    margin-right: 15px;
    color: #containerLogin #aaaaaa;
}

#containerLogin #login {
    border: 1px solid #containerLogin #999;
    margin-left: 15px;
}

#containerLogin #login tr th {
    background: #containerLogin #ddd;
    color: #containerLogin #AA0000;
}

#containerLogin #query {
    border: 1px solid #containerLogin #999;
    font-size: smaller;
    margin-left: 12px;
    }

#containerLogin #query tr th {
    font-size: 12px;
    font-weight: bold;
    background-color: #containerLogin #769CFF;
    text-align: center;
    font-weight: bold;
    color: #containerLogin #FFFFFF;
    margin-left: 12px;
    font-family:Arial; 
    
}


#containerLogin #query tr td {
    font-size: 12px;
    font-weight: bold;
    background-color: #containerLogin #FFFFFF;
    text-align: center;
    font-weight: bold;
    color: black;
    margin-left: 12px;
    font-family:Arial; 
    
}


#containerLogin .block h3 li {
    font-size: 12px;
    font-weight: bold;
    background-color: #containerLogin #FFFFFF;
    text-align: left;
    font-weight: bold;
    color: green;

    font-family:Arial; 
    
}



#containerLogin .more {
    padding: 0;
    margin: 8px 0 0 0;
    text-align: left;
    border-left: 1px solid rgb(65%, 75%, 65%);
}

#containerLogin .more li {
    list-style: none;
    display: inline;
    border-right: 1px solid rgb(65%, 75%, 65%);
    padding: 0 0#containerLogin .5em;
}

#containerLogin .more a, #containerLogin .more a:visited {
    color: #containerLogin #8B8B8B;
    font-size: smaller;
    font-weight: bold;
}
    
#containerLogin .more a:hover {
    color: #containerLogin #FFF;
    background-color: #containerLogin #8B8B8B;
    font-size: smaller;
    font-weight: bold;
}

#containerLogin .bdcol-name {
}

#containerLogin .bdcol-title {
    font-weight: bold;
    color: #containerLogin #5A5A5A;
}

#containerLogin #results {
    margin-left: 10px;
    margin-right: 10px;
    width: 95%;
}

#containerLogin #results a:hover {
    border: 0;
}

#containerLogin #results th {
    text-align: left;
}

#containerLogin #results td {
    vertical-align: top;
    padding: 4px;
}

#containerLogin #results #containerLogin .names {
    width: 160px;
}

#containerLogin #results #containerLogin .year {
    width: 60px;
}

#containerLogin .record-short {
    font-family: Arial, Georgia, Times New Roman, serif;
    border-top:1px solid #containerLogin #9B9B9B;
}

#containerLogin .record-short a:hover {
    background-color: #containerLogin #FFF;
}

#containerLogin .record-full {
    font-family: Arial, Georgia, Times New Roman, serif;
    margin: 8px 8px 0 8px;
    padding: 5px;
    border: 1px dotted #containerLogin #50497A;
}

#containerLogin .record-full #containerLogin .titles {
    border-bottom: 1px solid black;
    padding-bottom: 0#containerLogin .5em;
}

#containerLogin .record-full h1 {
    font-size: 1#containerLogin .1em;
    font-family: Arial, Verdana, Arial, sans;
    font-stretch: semi-expanded;
    background-color: #containerLogin #FFF;
    color: #containerLogin #5A5A5A;
    border: 0;
    margin: 0;
    padding: 0;
}

#containerLogin .record-full h2 {
    font-size: 1em;
    font-family: Arial, Verdana, Arial, sans;
    font-style: normal;
    color: black;
    background-color: none;
    border: 0;
    padding: 0;
    margin: 0;
}

#containerLogin .record-full #containerLogin .abstract {
    margin: 1em 1em 0 1em;
}

#containerLogin .record-full #containerLogin .url {
    text-align: right;
    margin-top: 0;
    padding-top: 0;
}

#containerLogin .record-full table {
    padding: 8px 0 0#containerLogin .5em 1em;
}

#containerLogin .record-full tr {
    margin: 0;
    padding: 0;
}

#containerLogin .record-full td {
    vertical-align: top;
}

#containerLogin .record-full th {
    font-weight: normal;
    font-style: normal;
    text-align: left;
    white-space: nowrap;
    vertical-align: top;
}

#containerLogin .hidden {
    display: none;
}

#containerLogin .visible {
    display: table-row;
}

/* Styles for the livesearch box: */
#containerLogin #livesearch {
    display: block;
    min-width: 160px;
}

#containerLogin .textfield {
    width: 400px;
}

#containerLogin #LSResult {
    position: absolute;
    background-color: #containerLogin #aaa; 
    min-width: 160px; 
    margin: 1px 0px 2px 0px;
    padding: 0px;
}
      
#containerLogin #LSShadow {
    right: 1px;
    margin: 0px;
    padding: 0px;
    background-color: #containerLogin #666; /*shadow color*/
    color: inherit;
}
      
#containerLogin .LSRes {
    position: relative;
    bottom: 1px;
    right: 1px;
    background-color: white;
    border:  1px solid #containerLogin #AAA;
}

#containerLogin #LSHighlight {      
    color: #containerLogin #564b47;  
    background-color: #containerLogin #ccc;
}
#containerLogin .hscClickClass{
	background-color:#containerLogin #7288B7;
	color:#containerLogin #FFFFFF;
	font-weight:bold;
	text-align:center;
	vertical-align:middle;
	font-size:11px;
}
#containerLogin .onOutClass {
background-color:#containerLogin #FFFFFF;
border-top:1px solid #containerLogin #D6D9DE;
}

#containerLogin .onOverClass{
	border-top:#containerLogin #D6D9DE solid 1px;
	background-color:#containerLogin #ECEEF4;
}

#containerLogin #page-head #containerLogin #menu2 {
    margin: 0#containerLogin .3em 0 0 0;
    padding: 0;
    float: right;
}

#containerLogin #menu2 li {
    list-style: none; 
    margin: 0;
    white-space: nowrap;
    padding: 0px 5px 0px 5px;
}

#containerLogin #menu2 li a {
    color: #containerLogin #666666;
}
