.block h3 {
	background:none repeat scroll 0 0 rgba(180,10,10,0.7);
	color:white;
	font-family:Arial;
	font-size:16px;
	font-style:normal;
	font-weight:bold;
	margin:0;
	padding:0;
	text-align:center;
}
.sucessPrompt
{
	color : #5078b3;
	background-color: white;
	border: #5078b3 1px dashed;
	padding: 4px;
	margin-top: 5px;
	vertical-align: middle;
	font-size: 12px;
	position: static;
	width: 99%;
	
	
}

.error .msgcolor {
background-color:#CC0000;
color:#FFFFFF;
font-weight:bold;
visibility:visible;
}
.error {
 color: red;
 margin: 5px 0px;
 padding: 0px;
 background: #fff  no-repeat 5px 50%;
}
.meta2 {
	clear:left;
	color:#666666;
	display:block;
	float:left;
	font-size:85%;
	top: 0px;
	position:relative;
	padding:0 10 0 10px;
}

#registro 
{
	
	color:#333333;
	font-size:1.2em;
	
	background:url("../images/cmxform-divider.gif") repeat-x scroll left bottom transparent;
	padding:5px 10px 7px;

	font-family:'lucida grande',helvetica,verdana,arial,sans-serif;
}

#registro  tr {

	padding:5px 10px 7px;
	list-style:none outside none;
margin:0;
}

#registro  label {
color:#769CF;
}
.body2 {
	color:#333333;
	font-family:Helvetica,Arial,sans-serif;
	font-size:12px;
	line-height:1.3em;
}




