


.containerTree{
	
	padding:20px;
	padding-left:50px;
}

.title_section{
	border-radius:0px 4px 4px 0px;
	background-color: #CCCCCC;
	font-family:times-new-roman;
	color: #fff;
    font-size: 19px;
    font-weight: bold;
    padding:5px;
    width:130px;
    height:18px;
}

.title_section label{
	float:right;
}
    
.filetree{
	font-size: 14px;;
	
}

.treeListContainer{
	
	height: 550px;
	/*overflow-y:scroll;*/ 
}
    