body {
	padding-top: 50px;
	padding-bottom: 20px;
}

#header-top{
	height: 143px;
	background-image: url("../../img/layout/logo.jpg");
	background-position: center;
	background-repeat: no-repeat;
	
}

#footer-bottom{
	height: 83px;
	background-image: url("../../img/layout/footer.jpg");
	background-position: center;
	background-repeat: no-repeat;
}

#menuAdmin{
	padding: 8px 0;
}

#main{
	overflow: auto;
/* 	overflow-x: hidden; */
	overflow-y: hidden;
}

