.ctrTextoCorrido
{
	FONT-SIZE: 12px;
	COLOR: #333333;
	FONT-FAMILY: Arial, Helvetica, sans-serif;
}


.clsDefaultText
{
	FONT-SIZE: 12px;
	COLOR: #333333;
	FONT-FAMILY: Arial, Helvetica, sans-serif;
	text-align: justify;
}


.clsHomeNoticiasEventos
{
	FONT-SIZE: 12px;
	COLOR: #333333;
	FONT-FAMILY: Arial, Helvetica, sans-serif;

}

a {
	font-family: Arial, Helvetica, sans-serif;
	color: #52738c;
	text-decoration: none;
}


link {
	font-family: Arial, Helvetica, sans-serif;
	color: #6690af;
}

.clsLinkList {
	list-style-position: outside;
	list-style-image: url(/Eafit/Library/images/biblioteca/btnFlecha.gif);
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;

}


.clsTitle

{
  FONT-FAMILY: Arial, Helvetica, sans-serif;
  FONT-SIZE: 15px;
  FONT-WEIGHT: bold;
  COLOR: #333333;
}

.clsTitleHora

{
  FONT-FAMILY: Arial, Helvetica, sans-serif;
  FONT-SIZE: 15px;
  FONT-WEIGHT: bold;
  COLOR: #fc4a04;
}


.clsSubTitle {

	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #52738c;
	font-weight: bold;
	letter-spacing: normal;

}


.clsSmTitle {

	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #6690af;
	text-decoration: none;
	font-weight: bold;
	text-transform: none;
	letter-spacing: 1px;



}



.clsBulletList {
	list-style-position: outside;
	list-style-image: url(/Eafit/Library/images/biblioteca/btnbolita.gif);
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;


}

.ctrLista {
	list-style-position: outside;
	list-style-image: url(/library/images/bulletyellow.gif);
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;


}



.clsCreditText {
	font-size: 10px;
	font-family: Arial, Helvetica, sans-serif;



}



.clsLineContent {

	border-bottom-width: 0px;
	border-bottom-style: dotted;
	border-bottom-color: #FFFFFF;

}

.ctrLinea {

	border-bottom-width: 0px;
	border-bottom-style: dotted;
	border-bottom-color: #FFFFFF;

}


.clsSubTitle1 {

	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	font-weight: bold;
	color: #52738c;



}

.ctrSubtitulo2 {

	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	font-weight: bold;
	color: #52738c;

}

.ctrSubtitulo3 {

	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #333333;

}
.clsMenuText {

	font-size: 10px;


}



.clsMsgText {

	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #fc4a04;



}

.clsDefaultTextNj {


	FONT-SIZE: 12px;
	COLOR: #333333;
	FONT-FAMILY: Arial, Helvetica, sans-serif;

}
.clsItalicText {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-style: italic;
	COLOR: #333333;
}



body {
	background-color: #ffffff;
}


a:hover {
	text-decoration: underline;
}


.clsDocentesTitle {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #FFFFFF;
}


.clsEmpleadosTitle {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #333333;
}


.clsPieDePagina {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #333333;
}


.clsHomeTitle {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #333333;
}
.CanalEBacnco {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #FFFFFF;
}


.clsLinkListBlanca {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #FFFFFF;
	list-style-image: url(/library/images/canalE/arrowList.gif);
	font-weight: bold;
}


.clsBulletListBlanco {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #FFFFFF;
	list-style-image: url(/library/images/canalE/bulletyellow.gif);
}


.clsTitleCanalE {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	color: #FFCC00;
}


.clsMsgText2 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #fc4a04;
}

.clsMsgTextHome {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #fc4a04;
}

.cssPieDePagina {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
}


.cssHomeTitle {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #52738c;
}


.TablaCeldaSuperior {
	background-color: #CCCCCC;
	background-repeat: repeat-x;
	background-position: left top;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
}


.TablaCeldaVerticalAzul {

	background-color: #bccedb;
	background-repeat: repeat-y;
	background-position: left top;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: normal;
}


.TablaCeldaBlanco {


	background-color: #FFFFFF;
	background-repeat: repeat-y;
	background-position: left top;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: normal;
}


.TablaCeldaPie {
	background-color: #666666;
	background-repeat: repeat;
	background-position: left top;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: normal;
	color: #FFFFFF;
}


.TablaCeldaAmarilla {

	background-color: #fcffac;
	background-repeat: repeat-x;
	background-position: left top;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
}


.clsPieBlanco {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #FFFFFF;
}

